registry=https://registry.npm.taobao.org
disturl=https://npm.taobao.org/mirrors/node
sqlite3_mirror=https://npm.taobao.org/mirrors/sqlite3/
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
PYTHON_MIRROR=https://npm.taobao.org/mirrors/python/
ELECTRON_REBUILD_MIRROR=http://npm.taobao.org/mirrors/atom-shell/